click
Flask
Flask-Cors
Flask-WTF
gunicorn
itsdangerous
lxml
nltk
numpy==2.3.3
regex
requests  # Replaced `request` with `requests`
rope  # Updated from `rope-py3k`
selenium
twython
WTForms
pandas
scikit-learn
